body {
    .level-low {
        background-color: #00aedb;
    } 
    .level-medium {
        background-color: #ffc425;
        color: #210b0b;
    } 
    .level-high {
        background-color: #d11141;
    } 

    .status-todo {
        background-color: #D4D8E6;
    }
    .status-in-progress {
        background-color: #E77268;
    }
    .status-done {
        background-color: #7CB7BF;
    }
    .status-failed {
        background-color: #FCBA02;
    }
    .status-completed {
        background-color: #03B89D;
    }
}